{% extends 'base.html' %}

{% load static %}

{% block content %}
<style>
  body{
      background-color :gray;
  }
</style>
<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Register User</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12 col-lg-10">
          <div class="wrap d-md-flex">
            <div class="img" style="background-image: url('/static/images/hero_1.jpg');">
            </div>
            <div class="login-wrap p-4 p-md-5">
              <div class="d-flex">
                <div class="w-100">
                  <h3 class="mb-4">Sign In</h3>
                </div>
                
              </div>
              <form action="{% url 'registerUser' %}" class="signin-form" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group ">
                        <label class="label" for="name">Name</label>
                        <input type="text" class="form-control" id="id_name" name="name" placeholder="Name" required>
                    </div>
                    <div class="form-group ">
                        <label class="label" for="email">Email</label>
                        <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label class="label" for="username">Username</label>
                        <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group ">
                        <label class="label" for="phone_number">Phone Number</label>
                        <input type="tel" class="form-control" id="id_phone_number" name="phone_number" placeholder="Phone Number" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group ">
                        <label class="label" for="password">Password</label>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group ">
                        <label class="label" for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="id_confirm_password" name="confirm_password" placeholder="Confirm Password" required>
                    </div>
                </div>
                <!-- Error list is placed inside the form -->
                <ul class="errorlist">
                    {% for field in form %}
                        {% if field.errors %}
                            {% for error in field.errors %}
                                <li style="color: orange;">{{ error }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
                <div class="form-group">
                    <button type="submit" class="form-control btn1 btn-primary rounded submit px-3">Sign Up</button>
                </div>
                <div class="form-group">
                  
                  {% include 'includes/alerts.html' %}

                </div>
                
            </form>  
              <p class="text-center">Already an account? <a data-toggle="tab" href="{% url 'login' %}">Login</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %} 