{% extends 'base.html' %}

{% block content %}
<style>
    body{
        background-color :gray;
    }
</style>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Reset Your Password</h2>
            </div>
          </div>
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="wrap d-md-flex">
                    <div class="img" style="background-image: url('/static/images/hero_1.jpg');">
                    </div>
                    <div class="login-wrap p-4 p-md-5">
                  <div class="d-flex">
                      <div class="w-100">
                          <h3 class="mb-4"></h3>
                      </div>
                        
                  </div>
                        <form action="{% url 'reset_password' %}" class="signin-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                          <label class="label" for="password">Password</label>
                          <input type="password" class="form-control" placeholder="Password" name= 'password' required>
                      </div>
                <div class="form-group mb-3">
                    <label class="label" for="password">Confirm Password</label>
                  <input type="password" class="form-control" placeholder="Password" name='confirm_password' required>
                </div>
                <div class="form-group">
                    <button type="submit" value="Reset Password" class="form-control btn1 btn-primary rounded submit px-3">Reset Password</button>
                </div><br>
                <div class="form-group">
                    {% include 'includes/alerts.html' %}
                </div>
                
              </form><br>
            </div>
          </div>
          
            </div>
        </div>
    </div>
    
</section>

{% endblock %}