
{% load static %}
<header id="header" class="header d-flex align-items-center">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="{% url 'index' %}" class="logo d-flex align-items-center">
      
      <h1>BHATKYO<span>.</span></h1>
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a href="{% url 'index' %}" class="active">Home</a></li>
        <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="#">Towing</a></li>
            <li><a href="#">Flat-Tyre</a></li>
            <li><a href="#">Fuel-Delivery</a></li>
            <li><a href="#">Battery-Jumpstart</a></li>
            <li><a href="#">Key-Unlock-Assistance</a></li>
            <li><a href="#">Starting Problem</a></li>
          </ul>
        </li>
        <li><a href="{% url 'show_products' %}">Products</a></li>
        <li><a href="blog.html">About Us</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="{% url 'cart_detail' %}" class="cart-icon" class="count" {{request.session.cart|length}}><i class="bi bi-cart3" style="font-size: 24px;"></i></a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'myAccount' %}" > My Account</a></li>
             <li><a href="{% url 'logout' %}" class="btn btn-danger ml-3">Logout</span></a>
            {% else %}
            <li><a href="{% url 'login' %}" class="btn btn-success">Login</a></li>
          {% endif %}
             </li>
      </ul>
    </nav><!-- .navbar -->
  </div>
</header>