{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'includes/alerts.html' %}
{% include 'customers/cover.html' %}

<section id="blog" class="blog">
    <div class="container">
        <h1 class="mt-5 mb-4">Messages</h1>
        <div class="row">
            {% for chatroom in chatrooms %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ chatroom.name }}</h5>
                        <a href="{% url 'chatroom' chatroom.slug %}" class="btn btn-primary">Chat</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
