{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'includes/alerts.html' %}
    {% include 'includes/cover.html' %}
    
    <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
            <div class="page-section account-header buyer-logged-in">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <!-- Load the sidebar here -->
                        {% include 'includes/s_sidebar.html' %}
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                        <div class="user-dashboard loader-holder">
                            <div class="user-holder">
                                <h2>Edit Product</h2>
                                <form id="edit-product-form" action="{% url 'edit_product' product.id %}" method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <!-- Product details column -->
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h3 class="card-title">Product Details</h3>
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label class="label" for="id_product_name">Product Name:</label>
                                                        <input type="text" class="form-control" id="id_product_name" name="product_name" value="{{ product.product_name }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="label" for="id_description">Description:</label>
                                                        <input type="text" class="form-control" id="id_description" name="description" value="{{ product.description }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="label" for="id_total_quantity">Quantity:</label>
                                                        <input type="number" class="form-control" id="id_total_quantity" name="total_quantity" value="{{ product.total_quantity }}" required readonly>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="label" for="id_availability">Availability:</label>
                                                        <input type="text" class="form-control" id="id_availability" name="availability" value="{{ product.availability }}" required readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="form-group">
                                                        <label class="label" for="id_price">Price:</label>
                                                        <input type="text" class="form-control" id="id_price" name="price" value="{{ product.price }}" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="label" for="id_product_image">Product Image:</label>
                                                        <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" width="100">
                                                        <input type="file" class="form-control-file" id="id_product_image" name="product_image">
                                                    </div>
                                                </div>
                                            </div>
                                        <br>
                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Add Stock</h3>
                                            </div>
                                            <div class="card-body">
                                                <div class="form-group">
                                                    <label class="label" for="id_stock_quantity">Stock Quantity:</label>
                                                    <input type="number" class="form-control" id="id_stock_quantity" name="stock_quantity">
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary" id="add-stock-btn">Add Stock</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <br>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">Update Product</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- Your script -->
<script>
    $(document).ready(function() {
        $('#add-stock-btn').click(function() {
            var stockQuantity = parseInt($('#id_stock_quantity').val());
            // Check if stockQuantity is a positive number
            if (stockQuantity > 0 && !isNaN(stockQuantity)) {
                var currentTotalQuantity = parseInt($('#id_total_quantity').val());
                var currentAvailability = parseInt($('#id_availability').val());

                var newTotalQuantity = currentTotalQuantity + stockQuantity;
                var newAvailability = currentAvailability + stockQuantity;

                $('#id_total_quantity').val(newTotalQuantity);
                $('#id_availability').val(newAvailability);
                $('#id_stock_quantity').val('');

            } else {
                // Display an alert or message indicating that only positive numbers are accepted
                alert('Please enter a positive number for stock quantity.');
            }
        });
    });
</script>

{% endblock %}
