{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'includes/alerts.html' %}
{% include 'includes/cover.html' %}
<section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
        <div class="page-section account-header buyer-logged-in">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <!-- Load the sidebar here -->
                    {% include 'includes/s_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h2>Manage Shop</h2>
                            <form action="{% url 'sprofile' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <!-- First Column -->
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label class="label" for="id_shop_name">Shop Name</label>
                                            <input type="text" class="form-control" id="id_shop_name" name="shop_name" placeholder="Shop Name" value="{{ shop_form.instance.shop_name }}" required>
                                        </div>
                                    
                                        <div class="form-group">
                                            <label class="label" for="id_shop_location"> Shop Address</label>
                                            <input type="text" class="form-control" id="id_shop_location" name="shop_location" placeholder="Address" value="{{ shop_form.instance.shop_location }}">
                                        </div>
                                            
                                            <div class="form-group">
                                                <label class="label" for="id_shop_location"> Latitude</label>
                                                <input type="text" class="form-control"  name="latitude" placeholder="Address" value="{{ shop_form.instance.latitude }}">
                                            </div>
                                       
                                        <div class="form-group">
                                            <label class="label" for="id_shop_location"> Longitude</label>
                                            <input type="text" class="form-control" name="longitude" placeholder="Address" value="{{ shop_form.instance.longitude }}">
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label class="label">Vehicles</label><br>
                                            {% for value, label in vehicle_choices %}
                                                <input type="radio" id="{{ value }}" name="vehicles" value="{{ value }}" {% if value == shop_form.instance.vehicles %} checked {% endif %}>
                                                <label for="{{ value }}">{{ label }}</label><br>
                                            {% endfor %}
                                        </div>
                                        <div class="form-group">
                                            <label class="label" for="id_services">Services</label>
                                            <div class="checkbox-group">
                                                {% for service in services %}
                                                    <input type="checkbox" id="service_{{ service.id }}" name="services" value="{{ service.id }}" {% if service in shop_form.instance.services.all %} checked {% endif %}>
                                                    <label for="service_{{ service.id }}">{{ service.name }}</label><br>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <!-- Third Column -->
                                    <div class="col-lg-4 col-md-4">
                                        <!-- Vehicle Choices -->

                                        <div class="form-group">
                                            <label class="label" for="id_shop_image">Update profile Image</label><br>
                                            <img src="{{ profile_form.instance.profile_picture.url }}" style="max-width: 100px; max-height: 100px;">

                                            {{ profile_form.profile_picture }}
                                        </div><br>
                                        <div class="form-group">
                                            <label class="label" for="id_shop_license">Update License</label><br>
                                            <img src="{{ shop_form.instance.shop_image.url }}" alt="Shop License" style="max-width: 100px; max-height: 100px;">
                                            {{ shop_form.shop_image }}
                                        </div><br>
                                        <div class="form-group">
                                            <label class="label" for="id_shop_license">Update License</label><br>
                                            <img src="{{ shop_form.instance.shop_lisence.url }}" alt="Shop License" style="max-width: 100px; max-height: 100px;">

                                            {{ shop_form.shop_lisence }}
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" value = "Update Shop" class="btn1 btn-primary rounded submit px-9">Update Shop</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
